.Screen{
    display: flex;
    flex-direction: column;
    height: 30rem;
    width:30rem;
    justify-content: center;
    align-items: center;
    top:30%;
    background-color: #232323;
    border-radius: 3rem;
    margin-top: 3rem;
    margin:auto;
   
   }
   
   .input1 {
       margin: 2rem 0rem 0.8rem 0rem;
   }
   
   .renderKey {
       background-color: #363636;
       padding: 0.6rem 0.6rem 0.6rem 0.6rem ;
       border-radius: 0.7rem;
       height: fit-content;
       width: auto;
   }